<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>VueJS do jeito certo!</title>
</head>
<body>
	<div id="app">
		
		<h1>{{ titulo }}</h1>

<!-- 		<div v-if="usuario.id == 1">
			Id: {{ usuario.id }} <br>
			Nome: {{ usuario.nome}} <br>
			Profissão: {{ usuario.profissao}} <br>
		</div>
		<div v-else>Nenhum usuário!</div> -->

<!-- 		<ul>
			<li v-for="(item, index) in linguagens">{{ index }} - {{ item.nome }}</li>
		</ul> -->

		<label for="nome">Nome</label><br>
		<input type="text" v-model="nome">

		<br><br>
		<label for="telefone">telefone</label><br>
		<input type="text" v-model="telefone">

		<br><br>
		<label for="novidades">Deseja receber nossas novidades?</label><br>
		<input type="radio" value="sim" v-model="novidades">Sim 
		<input type="radio" value="nao" v-model="novidades">Não

		<br><br>
		<label for="interesses">Interesses</label><br>
		<input type="checkbox" value="futebol" v-model="interesses">Futebol <br>		
		<input type="checkbox" value="formula1" v-model="interesses">Formula 1 <br>
		<input type="checkbox" value="corrida" v-model="interesses">Corrida <br>

		<br><br>
		<label for="conheceu">Como nos conheceu?</label><br>
		<select name="conheceu" v-model="conheceu" id="conheceu">
			<option value="">Escolha</option>
			<option value="tv">TV</option>
			<option value="google">Google</option>
			<option value="revista">Revista</option>
		</select>
		
		<br><br>

		<button>Enviar</button>

		<hr>
		Nome: {{ nome }} <br>
		Telefone : {{ telefone}} <br>
		Novidades: {{ novidades }} <br>
		Interesse: {{ interesses }} <br>
		Conheceu: {{ conheceu }} <br>
		
	</div>

	<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script> 
	var app = new Vue({
		el: '#app',
		data: {
			titulo: 'VueJS do jeito certo',			
			usuario:{
				id: 1,
				nome: 'Jon Snow',
				profissao: 'ator'
			},
			linguagens:[
				{nome: 'PHP'},
				{nome: 'JavaScript'},
				{nome: 'C#'},
				{nome: 'NodeJS'},
				{nome: 'Jaca'},
				{nome: 'Rails'}
			], 
			nome: '',
			telefone: '',
			novidades: '',
			interesses: [],
			conheceu: ''
		}
	});
</script>
</body>
</html>